# Fake News Detector Machine Learning Model

In [1]:
import pandas as pd
import numpy as np

# Importing Function from script.py file
from scripts import word_drop

from sklearn.feature_extraction import text

# Loading The Datasets

For this exploratory Pipeline, I am using two separated datasets I found on Google, one CSV file is the **true news dataset** and the other file is the ****fake news dataset****.

In [2]:
df_fake = pd.read_csv('Datasets/Public_Data/corona_fake.csv')
df_fake = df_fake.drop(['text', 'source'], axis=1)
df_fake = df_fake.dropna()
df_fake.rename(columns = {'title':'Tweets', 'label':'class'}, inplace = True)


df_fake.drop(df_fake.index[df_fake['class'] == 'TRUE'], inplace=True)

df_fake = df_fake.replace("Fake", "0")
df_fake = df_fake.replace("fake", "0")

df_fake = df_fake.drop_duplicates(subset=['Tweets'])

df_fake.shape

(442, 2)

In [3]:
df_true = pd.read_csv('Datasets/Old_Collected_Data/COVID-19-Truth.csv')
df_true = df_true.drop(['Tweet URL', 'Tweet ID', 'User ID', 'Unnamed: 0'], axis=1)
print(df_true.shape)
df_true.head(3)

(703, 1)

                                              Tweets
0  The global Covid-19 death toll hits a new grim...
1  The White House unveiled a plan to move the na...
2  Britain's Queen Elizabeth II cancels virtual e...

# Adding Labels to each Dataset

In [4]:

df_true["class"] = 1

# Dataset Shapes

In [6]:
df_fake.shape, df_true.shape

((442, 2), (703, 2))

In [ ]:
# remove_n = abs(df_fake.shape[0]-df_true.shape[0])

# if df_fake.shape[0] > df_true.shape[0]:
#     drop_indices = np.random.choice(df_fake.index, remove_n, replace=False)
#     df_fake = df_fake.drop(drop_indices)
    
    
# elif df_true.shape[0] > df_fake.shape[0]:
#     drop_indices = np.random.choice(df_true.index, remove_n, replace=False)
#     df_true = df_true.drop(drop_indices)

# Taking some rows from the two datasets

I am creating two variables to store the last 10 rows of each dataset to then export it to a new csv file.

Our Goal is to use those news for manual testing after we build Our model.

In [7]:
# Storing last 10 rows of df_fake into a variable
df_fake_manual_testing = df_fake.tail(10)

# Deleting the last 10 rows from dataset
df_fake.drop(df_fake.tail(10).index,
        inplace = True)

# Storing last 10 rows of df_true into a variable
df_true_manual_testing = df_true.tail(10)

# Deleting the last 10 rows from dataset
df_true.drop(df_true.tail(10).index,
        inplace = True)

# Dataset Shapes Now

In [8]:
# df_fake.shape, df_true.shape
df_true_manual_testing.head(3)

                                                Tweets  class
693  Joe Rogan has been yammering about the COVID-1...      1
694  An estimated 900,000 people have now died from...      1
695  The global death toll from Covid-19 surpassed ...      1

# Creating a Dataframe to store the 10 rows from df_true and df_fake

Also I am exporting that datafram in an CSV file out of this notebook.

In [9]:
df_manual_testing = pd.concat([df_fake_manual_testing, df_true_manual_testing], axis=0)
df_manual_testing = df_manual_testing.sample(frac=1)
df_manual_testing["Tweets"] = df_manual_testing["Tweets"].apply(word_drop)
df_manual_testing["Tweets"] = df_manual_testing["Tweets"].apply(word_drop)
df_manual_testing["Tweets"] = df_manual_testing["Tweets"].apply(word_drop)
df_manual_testing.head(3)

                                                 Tweets class
701   eric lander the head of the office of science ...     1
1083  who impedes the use of cheap accessible drugs ...     0
1085  ooner or later americans will have to choose b...     0

# Feature Engineering 
## Mergin the Datasets into One

In [10]:
df_merge = pd.concat([df_fake, df_true], axis=0)
df = df_merge.sample(frac=1)
df.head(10)

                                                 Tweets class
313   Dr. Francis Boyle Creator Of BioWeapons Act Sa...     0
157   The CDC reports a Covid-19 vaccination dispari...     1
1056  THE DECISION TO GO AHEAD ON THE CORONAVIRUS PA...     0
109              Vitamin C Protects Against Coronavirus     0
688   Many lawmakers and staff say that something ha...     1
413   White House officials had hoped to focus the S...     1
328   China Post said it would conduct coronavirus t...     1
190                                         Alcohol ban     0
232   STUNNING! NY Doctor Vladimir Zelenko Finds 100...     0
278   A newly published study suggests a link betwee...     1

# Checking for Null values

No null values as you can see in the results below

In [11]:
df.isnull().sum() # Alles Gut hier

Tweets    0
class     0
dtype: int64

## Calling funtion on the text column

In [12]:
df["Tweets"] = df["Tweets"].apply(word_drop)
df["Tweets"] = df["Tweets"].apply(word_drop)
df["Tweets"] = df["Tweets"].apply(word_drop)

In [15]:
df.head(3)

                                                 Tweets class
313   dr francis boyle creator of bioweapons act say...     0
157   the cdc reports a covid vaccination disparity ...     1
1056  the decision to go ahead on the coronavirus pa...     0

# Removing Stopwords:

In [ ]:
    # stop = text.ENGLISH_STOP_WORDS

In [ ]:
# df['Tweets'] = df['Tweets'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [ ]:
# df_manual_testing['Tweets'] = df_manual_testing['Tweets'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
# #

In [14]:
df.to_csv("Datasets/df.csv") 
df_manual_testing.to_csv("Datasets/manual_testing.csv")